# Ambientes e Segredos
.env
.env.local
.env.*.local
*.pem
*.key

# Permite versionar o template de exemplo
!.env.example

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# Build Maven & Java
target/
**/target/
*.class
class/
.mvn/wrapper/maven-wrapper.jar

# Logs, Relatórios e Arquivos Temporários de Teste
*.jtl
*.log
jmeter.log
*.zip
*.csv
*.png
*.pdf
*.docx
tabelas_para_word.html

# Python
__pycache__/
*.py[cod]
*$py.class
.ruff_cache/
.pytest_cache/

# IDEs e Editores
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.project
.classpath
.apt_generated
.factorypath
.springBeans
.sts4-cache
bin/
**/bin/
.DS_Store
Thumbs.db
dependency-reduced-pom.xml
